<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kafeotomasyon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GirisEkraniActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".MasaYonetimiActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".KayitEkraniActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".common.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".MenuIcerikEkleActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".MenuIcerikDuzenleActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".MasaEkleActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>